#sidebar-Dashboard {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.dashboard {
  width: 100%;
  display: flex;
  background-color: #f1f3f5;
}

.analytics {
  flex: 1;
  padding: 1rem;
  align-items: center;
}

.user-analytics {
  height: 18%;
  display: flex;
  justify-content: space-between;
}

.header-user-analytics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  padding-left: 2rem;
}

.chart {
  height: 30%;
  display: flex;
  justify-content: space-evenly;
}

.anything {
  height: 50%;
}

.profile-memo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 477px;
}
