#sidebar-Dashboard {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.dashboard {
  width: 100%;
  height: 100%;
  background-color: #f1f3f5;
}

.analytics {
  flex: 1;
  align-items: center;
  height: 40%;
}

.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header-user-analytics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  padding-left: 2rem;
}
.chart {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.content {
  display: flex;
  height: 43%;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.profile-memo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 477px;
}

.upload-analyze {
  display: flex;
  width: 76%;
  height: 100%;
}
