.memo-item {
    display: flex;
    flex-direction: row;
    /* align-items: start; */

    padding: 20px;
    border-bottom: 1px solid #DEE2E6;
}

.memo-profile-img {
    width: 40px;
    height: 40px;
    padding-right: 16px;
}

.memo-item-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.memo-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.memo-profile-name {
    padding-right: 16px;
    font-size: 18px;
    font-weight: 600;
    color: #212529;
}

.memo-date {
    font-size: 13px;
    font-weight: 500;
    color: #868E96;
}

.memo-setting {
    display: flex;
    flex-direction: row;
}

button{
    background-color: white;
    border: none;
}

.memo-content {
    font-size: 16px;
    font-weight: 500;
    color: #868E96;
}










.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-btn-header {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-items: center;
    padding: 4px 0px;
    color: #868E96;
}

.comment-header-profile-img {
    width: 20px;
    height: 20px;

    border: 2px solid white;
    border-radius: 50%;
}

.comment-num {
    margin-left: 8px;

    font-size: 16px;
    font-weight: 500;
}

.comment-profile-img {
    width: 28px;
    height: 28px;
}

.comment-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 8px;
}

.comment-name {
    margin: 6px;
    margin-left: 8px;

    font-size: 16px;
    font-weight: 600;
}

.comment-content {
    width: 180px;
    margin-left: 8px;
    margin-top: 6px;

    font-size: 16px;
    font-weight: 500;

    color: #868E96;
}










.new-comment {
    display: flex;
    flex-direction: row;
    align-items: end;
    z-index: 0;

    position: relative;
}

.new-comment-text {    
    box-sizing: border-box;

    width: 280px;
    height: 60px;
    padding: 12px;
    margin-top: 8px;

    background: #F1F3F5;
    border: 1px solid #CED4DA;
    border-radius: 12px;

    resize: none;
}

.new-comment-text:focus {
    outline: none;
}

textarea::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: #ADB5BD;
  }

.new-comment-send {
    position: absolute;
    right: 12px;
    bottom: 4px;

    background-color: transparent;
    color: #ADB5BD;
}
.new-memo-send:hover {
    color: black;
}