.analyze-videos {
  width: 50%;
  background-color: white;
  margin-right: 0.2rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 2rem;
}

.analyze-video-container {
  display: inline-block;
  justify-content: space-between;
  position: relative;
  top: -10px;
}
.text-more {
  display: flex;
  align-items: center;
}
.views {
  color: #adb5bd;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.02em;
  text-align: right;
}
.analyze-btn {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 0.5rem;
  background-color: transparent;
  position: relative;
  left: 20px;
  z-index: 1;
}

.calendar-dropdown-menu {
  display: flex;
}

.calendar {
  position: relative;
  left: 20px;
}

.filtering {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 0.2rem;
}
.filtering-btn {
  display: flex;
  font-size: 12px;
  align-items: center;
  text-align: center;
  color: #495057;
  font-weight: 500;
}
.up-icon {
  color: #495057;
}
.whole-views {
  display: flex;
  align-items: center;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whole-views-text {
  text-align: center;
  font-size: 12px;
  color: #868e96;
  margin-right: 0.5rem;
}
.whole-views-num {
  text-align: center;
  font-size: 12px;
  color: #212529;
}
.analyze-header-text {
  width: 120px;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 18px;
}
.details-header {
  display: flex;
  justify-content: space-between;
}
.date-views {
  display: flex;
  justify-content: space-between;
}
.analyze-date {
  color: #adb5bd;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.02em;
  text-align: right;
}
