.userstats {
    display: flex;
    flex-direction: column;
}

.standard {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 12px;
    padding-bottom: 12px;

    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

    color: #868E96;
}

.userstats-container {
    /* background-color: lightpink; */
    padding-left: 20px;
    padding-bottom: 16px;
}

.userstats-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userstats-container-title {
    padding-right: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    
    color: #868E96;
}

.userstats-container-variation {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: #FB6358;
}

.userstats-container-value {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    color: #212529;
}