.comment-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 8px;
}

.comment-profile-img {
    width: 28px;
    height: 28px;
}

.comment-name {
    margin: 6px;
    margin-left: 8px;

    font-size: 16px;
    font-weight: 600;
}

.comment-content {
    width: 180px;
    margin-left: 8px;
    margin-top: 6px;

    font-size: 16px;
    font-weight: 500;

    color: #868E96;
}

