.heatmap-container {
  display: flex;
  flex-direction: column;

  width: 20%;
  padding: 28px;
  padding-top: 36px;
  background-color: white;
  border-radius: 1rem;
}

.heatmap-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heatmap-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.heatmap-time {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #868e96;
}

.heatmap-map {
  height: 360px;
  padding-top: 12px;
  z-index: 0;
}

path:hover {
  fill: black
}

/* #busan:hover {
  fill: black;
}

#daegu:hover {
  fill: black;
}

#daejeon:hover {
  fill: black;
}

#gangwon:hover {
  fill: black;
}

#gwangju:hover {
  fill: black;
}

#gyeonggi:hover {
  fill: black;
}

#incheon:hover {
  fill: black;
}

#jeju:hover {
  fill: black;
}

#north-chungcheong:hover {
  fill: black;
}

#north-gyeongsang:hover {
  fill: black;
}

#north-jeolla:hover {
  fill: black;
}

#sejong:hover {
  fill: black;
}

#seoul:hover {
  fill: black;
}

#south-chungcheong:hover {
  fill: black;
}

#south-gyeongsang:hover {
  fill: black;
}

#south-jeolla:hover {
  fill: black;
}

#ulsan:hover {
  fill: black;
} */


.rank1 {
  fill: #FB6358;
}

.rank2 {
  fill: #EF7F7B;
}

.rank3 {
  fill: #F6A3A0;
}

.rank4 {
  fill: #FFD2D6;
}

.rank5 {
  fill: #FFEDEF;
}