.detail-video-container {
  display: flex;
  height: 100%;
  width: 38%;
  border-radius: 1rem;
}

.views {
  color: #adb5bd;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.02em;
  text-align: right;
}

.analyze-video {
  width: 100%;
  background-color: white;
  margin-right: 0.2rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1.5rem;
}
